@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

body {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


/* For WebKit (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}


.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 300px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
